<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Valimindvol2</servlet-name>
		<servlet-class>ee.ut.valimindvol2.Valimindvol2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Valimindvol2</servlet-name>
		<url-pattern>/valimindvol2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAsCandidate</servlet-name>
		<servlet-class>ee.ut.valimindvol2.AddAsCandidate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAsCandidate</servlet-name>
		<url-pattern>/addascandidate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllCandidates</servlet-name>
		<servlet-class>ee.ut.valimindvol2.AllCandidates</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllCandidates</servlet-name>
		<url-pattern>/allcandidates</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteVote</servlet-name>
		<servlet-class>ee.ut.valimindvol2.DeleteVote</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteVote</servlet-name>
		<url-pattern>/deletevote</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>FindByName</servlet-name>
		<servlet-class>ee.ut.valimindvol2.FindByName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindByName</servlet-name>
		<url-pattern>/findbyname</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindByParty</servlet-name>
		<servlet-class>ee.ut.valimindvol2.FindByParty</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindByParty</servlet-name>
		<url-pattern>/findbyparty</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindByPartyAndRegion</servlet-name>
		<servlet-class>ee.ut.valimindvol2.FindByPartyAndRegion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindByPartyAndRegion</servlet-name>
		<url-pattern>/findbypartyandregion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StatisticByCountry</servlet-name>
		<servlet-class>ee.ut.valimindvol2.StatisticByCountry</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatisticByCountry</servlet-name>
		<url-pattern>/statisticbycountry</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StatisticByParty</servlet-name>
		<servlet-class>ee.ut.valimindvol2.StatisticByParty</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatisticByParty</servlet-name>
		<url-pattern>/statisticbyparty</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StatisticByRegion</servlet-name>
		<servlet-class>ee.ut.valimindvol2.StatisticByRegion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatisticByRegion</servlet-name>
		<url-pattern>/statisticbyregion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Vote</servlet-name>
		<servlet-class>ee.ut.valimindvol2.Vote</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Vote</servlet-name>
		<url-pattern>/vote</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>